<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form action="" method="POST">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col" name="Name">Name</th>
            <th scope="col" name="Type">Type</th>
            <th scope="col" name="Price">Price</th>
            <th scope="col" name="Order">Order</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><input name="name" value="Vit"  disabled></td>
            <td><input name="type" value="Quay" disabled></td>
            <td><input name="price" value="50"  disabled></td>
            <td><input type="checkbox" name="order" value="1"  ></td>
        </tr>

         <tr>
            <th scope="row">2</th>
            <td><input name="name" value="Ga" disabled></td>
            <td><input name="type" value="Nuong" disabled></td>
            <td><input name="price" value="100"  disabled></td>
            <td><input type="checkbox" name="order" value="2"  ></td>
        </tr>
        </tbody>
    </table>


    <button type="submit" class="btn btn-outline-primary">ORDER</button>
</form>
</body>
</html>